*.class
# Package Files #
*.war
*.ear
*.log

# Eclipse Files #
.project
.settings
.classpath
.springBeans

# Maven Files #
target

# Grunt Files #
node_modules
.tmp

# Other Files #
logs
*~
*.bak
.mymetadata
.DS_Store
/cloud-data/src/test/java/dev/AutoCode.java
/.apt_generated/
