<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smallyellow.hhy.mapper.MessageMapper">
	<resultMap id="BaseMessageMap" type="me.smallyellow.hhy.model.Message">
		<result column="id" property="id" />
		<result column="user_to" property="userTo" />
		<result column="user_from" property="userFrom" />
		<result column="type" property="type" />
		<result column="message" property="message" />
		<result column="send_time" property="sendTime" />
	</resultMap>
	
	<sql id="table_column"> id,user_to,user_from,type,message,send_time </sql>
	
	<!-- 查询聊天记录 -->
	<select id="selectMessage" resultMap="BaseMessageMap">
		SELECT <include refid="table_column" /> FROM message
		WHERE type = 1 AND (user_to = #{userOne} AND user_from = #{userTwo} OR user_to = #{userTwo} AND user_from = #{userOne} )
		<if test="lastId != null">
			AND id <![CDATA[ > ]]> #{lastId} 
		</if>
		ORDER BY id DESC
		<if test="size != null">
			LIMIT 0,#{size} 
		</if>
		<if test="size == null">
			LIMIT 0,20 
		</if>
	</select>

</mapper>
